HELP.md
target/
!kafka-producer/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/kafka-consumer/src/main/resources/META-INF/additional-spring-configuration-metadata.json
/kafka-producer/.mvn/wrapper/maven-wrapper.jar
/kafka-producer/.mvn/wrapper/maven-wrapper.properties
/.idea/
/kafka-producer/.idea/.gitignore
/kafka-consumer/src/main/resources/META-INF/additional-spring-configuration-metadata.json
/kafka-consumer/.idea/compiler.xml
/kafka-producer/.idea/compiler.xml
/kafka-consumer/.idea/encodings.xml
/kafka-producer/.idea/encodings.xml
/kafka-consumer/.idea/jarRepositories.xml
/kafka-producer/.idea/jarRepositories.xml
/kafka-consumer/kafka-consumer.iml
/kafka-producer/kafka-producer.iml
/kafka-producer/.mvn/wrapper/maven-wrapper.jar
/kafka-producer/.mvn/wrapper/maven-wrapper.properties
/kafka-consumer/.idea/libraries/Maven__ch_qos_logback_logback_classic_1_2_11.xml
/kafka-consumer/.idea/libraries/Maven__ch_qos_logback_logback_core_1_2_11.xml
/kafka-consumer/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_13_4.xml
/kafka-consumer/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_13_4.xml
/kafka-consumer/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_13_4_2.xml
/kafka-consumer/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jdk8_2_13_4.xml
/kafka-consumer/.idea/libraries/Maven__com_fasterxml_jackson_datatype_jackson_datatype_jsr310_2_13_4.xml
/kafka-consumer/.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_parameter_names_2_13_4.xml
/kafka-consumer/.idea/libraries/Maven__com_github_luben_zstd_jni_1_5_0_4.xml
/kafka-consumer/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/kafka-consumer/.idea/libraries/Maven__com_jayway_jsonpath_json_path_2_7_0.xml
/kafka-consumer/.idea/libraries/Maven__com_vaadin_external_google_android_json_0_0_20131108_vaadin1.xml
/kafka-consumer/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/kafka-consumer/.idea/libraries/Maven__jakarta_annotation_jakarta_annotation_api_1_3_5.xml
/kafka-consumer/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/kafka-consumer/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_19.xml
/kafka-consumer/.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_12_19.xml
/kafka-consumer/.idea/libraries/Maven__net_minidev_accessors_smart_2_4_8.xml
/kafka-consumer/.idea/libraries/Maven__net_minidev_json_smart_2_4_8.xml
/kafka-consumer/.idea/libraries/Maven__org_apache_kafka_kafka_clients_3_1_2.xml
/kafka-consumer/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_17_2.xml
/kafka-consumer/.idea/libraries/Maven__org_apache_logging_log4j_log4j_to_slf4j_2_17_2.xml
/kafka-consumer/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_9_0_69.xml
/kafka-consumer/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_9_0_69.xml
/kafka-consumer/.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_9_0_69.xml
/kafka-consumer/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_2.xml
/kafka-consumer/.idea/libraries/Maven__org_assertj_assertj_core_3_22_0.xml
/kafka-consumer/.idea/libraries/Maven__org_hamcrest_hamcrest_2_2.xml
/kafka-consumer/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_2.xml
/kafka-consumer/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_2.xml
/kafka-consumer/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_2.xml
/kafka-consumer/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_2.xml
/kafka-consumer/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_2.xml
/kafka-consumer/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_2.xml
/kafka-consumer/.idea/libraries/Maven__org_lz4_lz4_java_1_8_0.xml
/kafka-consumer/.idea/libraries/Maven__org_mockito_mockito_core_4_5_1.xml
/kafka-consumer/.idea/libraries/Maven__org_mockito_mockito_junit_jupiter_4_5_1.xml
/kafka-consumer/.idea/libraries/Maven__org_objenesis_objenesis_3_2.xml
/kafka-consumer/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/kafka-consumer/.idea/libraries/Maven__org_ow2_asm_asm_9_1.xml
/kafka-consumer/.idea/libraries/Maven__org_projectlombok_lombok_1_18_24.xml
/kafka-consumer/.idea/libraries/Maven__org_skyscreamer_jsonassert_1_5_1.xml
/kafka-consumer/.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_36.xml
/kafka-consumer/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_36.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_boot_spring_boot_2_7_6.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_2_7_6.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_2_7_6.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_json_2_7_6.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_2_7_6.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_2_7_6.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_2_7_6.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_2_7_6.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_2_7_6.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_boot_spring_boot_test_autoconfigure_2_7_6.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_kafka_spring_kafka_2_8_3.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_retry_spring_retry_1_3_4.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_spring_aop_5_3_24.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_spring_beans_5_3_24.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_spring_context_5_3_24.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_spring_core_5_3_24.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_spring_expression_5_3_24.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_spring_jcl_5_3_24.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_spring_messaging_5_3_24.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_spring_test_5_3_24.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_spring_tx_5_3_24.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_spring_web_5_3_24.xml
/kafka-consumer/.idea/libraries/Maven__org_springframework_spring_webmvc_5_3_24.xml
/kafka-consumer/.idea/libraries/Maven__org_xerial_snappy_snappy_java_1_1_8_4.xml
/kafka-consumer/.idea/libraries/Maven__org_xmlunit_xmlunit_core_2_9_0.xml
/kafka-consumer/.idea/libraries/Maven__org_yaml_snakeyaml_1_30.xml
/kafka-consumer/.idea/misc.xml
/kafka-producer/.idea/misc.xml
/kafka-consumer/.idea/modules.xml
/kafka-consumer/mvnw
/kafka-producer/mvnw
/kafka-consumer/mvnw.cmd
/kafka-producer/mvnw.cmd
/kafka-consumer/.idea/uiDesigner.xml
/kafka-producer/.idea/vcs.xml
/kafka-consumer/.idea/workspace.xml
/kafka-producer-ssl/certs/ca-cert
/kafka-producer-ssl/certs/ca-cert.srl
/kafka-producer-ssl/certs/ca-key
/ssl/cacerts.jks
/kafka-producer-ssl/certs/cert-file
/kafka-producer-ssl/certs/cert-file-signed
/kafka-producer-ssl/certs/creds
/ssl/domain1.crt
/ssl/domain1.csr
/kafka-producer-ssl/certs/kafka.server.keystore.jks
/kafka-producer-ssl/certs/kafka.server.truststore.jks
/ssl/keystore.jks
/kafka-producer-ssl/certs/keystore_creds
/kafka-producer-ssl/.mvn/wrapper/maven-wrapper.jar
/kafka-producer-ssl/.mvn/wrapper/maven-wrapper.properties
/kafka-producer-ssl/mvnw
/kafka-producer-ssl/mvnw.cmd
/ssl/rootCA.crt
/ssl/rootCA.csr
/ssl/rootCA.key
/ssl/rootCA.srl
/kafka-producer-ssl/certs/truststore_creds
